
bin/
obj/
**/bin/
**/obj/
*.user
*.suo
*.rsuser
*.ide/
.vs/
.idea/
**/secrets.dev.yaml
**/values.dev.yaml
**/.vscode
.DS_Store
Thumbs.db

node_modules/
dist/
coverage/
logs/
*.log


*.mdf
*.ldf


appsettings.Local.json
**/appsettings.Local.json
